@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8rem;
	height: 60px;
	border-bottom: 1px solid #e9ecef;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: white;
}

.navbar .logo {
	color: #212529;
	font-weight: 600;
}

.navbar .links {
	display: flex;
	align-items: center;
	color: #212529;
	font-size: 14px;
}

.navbar .links .link_item {
	margin-left: 2rem;
	color: inherit;
}

.navbar .links .link_item:hover {
	color: #343a40;
}

.nav_spacer {
	height: 5rem;
	width: 100%;
}

.spacer {
	height: 2rem;
	width: 100%;
}

.container {
	padding: 0 8rem;
	position: relative;
}

.hero_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4rem;
}

.hero_text {
	font-size: 60px;
	line-height: 1.3;
	letter-spacing: 3px;
	color: #171a1d;
	max-width: 450px;
	text-transform: uppercase;
}

.top_bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logout {
	font-size: 14px;
	background-color: #ef233c;
	padding: 6px 10px;
	border-radius: 6px;
	color: white;
}

form {
	max-width: 300px;
	margin: 1.5rem auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

input[type="text"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

p.error-message {
	color: red;
}

.center {
	text-align: center;
	color: #171a1d;
}

.blog_navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.178);
	padding: 10px 1.5rem;
	color: #fff;
	margin-bottom: 2rem;
	border-radius: 6px;
}

.blog_navbar h1 {
	margin: 0;
}

.blog_navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.blog_navbar ul li {
	margin-right: 10px;
}

.blog_navbar ul li a {
	text-decoration: none;
}

.new_post_button {
	font-size: 14px;
	color: #171a1d;
	background-color: white;
	border-radius: 6px;
	padding: 8px 1.5rem;
}

.blog-post {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.178);
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 3rem;
	border-radius: 10px;
}

.blog-post img {
	border-radius: 6px;
}

.blog-post h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.blog-post p {
	margin-top: 1rem;
	margin-bottom: 0;
}
